<h1>Weather App</h1>
<form (submit)="getWeatherData(city.value)">
  <input #city type="search" placeholder="City name" />
  <button type="submit">Search</button>
</form>
<div
  class="container"
  [ngStyle]="{ 'background-color': (weatherData?.main?.temp! <= 15) ? gray : blue }"
>
  <div class="top flexbox">
    <p>{{ weatherData?.name }}</p>
    <p>temperature: {{ weatherData?.main?.temp | number: '1.0-0' }} ℃</p>
  </div>
  <div class="bottom flexbox">
    <div class="row flexbox">
      <img
        src="http://openweathermap.org/img/w/{{ weatherData?.weather?.[0]?.icon }}.png"
        alt="weather icon"
      />
      <p>{{ weatherData?.weather?.[0]?.description }}</p>
    </div>
    <div class="row flexbox">
      <fa-icon [icon]="faTemperatureHigh"></fa-icon>
      <p>feels like: {{ weatherData?.main?.feels_like | number: '1.0-0' }} ℃</p>
    </div>
    <div class="row flexbox">
      <fa-icon [icon]="faWater"></fa-icon>
      <p>humidity: {{ weatherData?.main?.humidity }}</p>
    </div>
    <div class="row flexbox">
      <fa-icon [icon]="faWind"></fa-icon>
      <p>wind speed: {{ weatherData?.wind?.speed }} km/h</p>
    </div>
    <div class="row flexbox">
      <div class="gust-icon">
        <fa-icon [icon]="faWind"></fa-icon>
        <fa-icon [icon]="faWind"></fa-icon>
      </div>
      <p>wind gust: {{ weatherData?.wind?.gust }} km/h</p>
    </div>
  </div>
</div>
